<form class="flexcol token-says-rule" autocomplete="off">
    <section id="token-says-rule">
        <div class="token-says-rule">
            <div class="hidden">
                <input type="text" value="{{say.id}}" name="id"/>
            </div>
            <div class="form-group">
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.label.label'}}</span>
                    </label>
                    <div class="rule-value form-fields">
                        <input type="text" name="label" value="{{say.label}}" required/>
                    </div>
                    <p class="notes"></p>
                </div>
            </div>
            <div class="form-group">
                <h4>
                    <i class="fas fa-user-alt"></i>&nbsp;
                    <span>{{localize 'TOKENSAYS.setting.say.token.label'}}</span>
               </h4>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.name.label'}}</span>
                        <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-asterisk"></i></span>
                    </label>
                    <div class="rule-value form-fields">
                        <input id="token-says-name-value" type="text" name="name" value="{{say.name}}" required/>
                    </div>
                    <p class="notes"></p>
                    <p id="token-says-name-actor-warning-container" class="notes alert hidden">
                        <i class="fas fa-exclamation-triangle"></i>
                         {{localize 'TOKENSAYS.warning.actor-not-found'}}
                        <span id="token-says-name-actor-warning"></span>
                    </p>
                    <p id="token-says-name-token-warning-container" class="notes alert hidden">
                        <i class="fas fa-exclamation-triangle"></i>
                         {{localize 'TOKENSAYS.warning.token-not-found'}}
                        <span id="token-says-name-token-warning"></span>
                    </p>
                </div>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.isActorName.label'}}</span>
                    </label>
                    <div class="rule-value">
                        <input id="token-says-name-is-actor" type="checkbox" name="isActorName" {{checked say.isActorName}} />
                    </div>
                    <p class="notes">{{localize 'TOKENSAYS.setting.say.isActorName.description'}}</p>
                </div>
            </div>
            <div class="form-group">
                <h4>
                    <i class="fas fa-exclamation"></i>&nbsp;
                    <span>{{localize 'TOKENSAYS.setting.say.actions.label'}}</span>
               </h4>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.documentType.label'}}</span>
                    </label>
                    <div class="rule-value form-fields">
                        <select id="token-says-documenttype-value" name="documentType" value="say.documentType" required>  
                            <option value=""></option>
                            {{selectOptions documentTypeOptions selected=say.documentType localize=true}}
                        </select>
                    </div>
                    <p class="notes"></p>
                </div>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.documentName.label'}}</span>
                        <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-asterisk"></i></span>
                    </label>
                    <div id="token-says-documentname" class="rule-value form-fields">
                        {{{documentNameOptions}}}
                    </div>
                    <p class="notes">{{localize 'TOKENSAYS.setting.say.documentName.description'}}</p>
                </div>
            </div>
            <div id="token-says-reacts" class="form-group reacts {{#unless isReact}} hidden{{/unless}}">
                <h4>
                    <i class="fas fa-reply"></i>&nbsp;
                    <span>{{localize 'TOKENSAYS.setting.say.reacts.label'}}</span>
               </h4>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.reacts.description'}}</p>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.documentType.label'}}</span>
                    </label>
                    <div class="rule-value form-fields">
                        <select id="token-says-documenttype-reacts-value" name="to.documentType" value="say.to.documentType">  
                            <option value=""></option>
                            {{selectOptions documentTypeReactsOptions selected=say.to.documentType localize=true}}
                        </select>
                    </div>
                    <p class="notes"></p>
                </div>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.documentName.label'}}</span>
                        <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-asterisk"></i></span>
                    </label>
                    <div id="token-says-documentname-reacts" class="rule-value form-fields">
                        {{{documentNameReactsOptions}}}
                    </div>
                    <p class="notes"><span id="token-says-rule-dup-name-warning" class="warning hidden">{{localize 'TOKENSAYS.setting.say.warning.dupNames.label'}}</span></p>
                </div>
                <div id="token-says-to-name" class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.name.label'}}</span>
                        <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-asterisk"></i></span>
                    </label>
                    <div class="rule-value form-fields">
                        <input id="token-says-to-name-value" type="text" name="to.name" value="{{say.to.name}}" />
                    </div>
                    <p id="token-says-to-name-actor-warning-container" class="notes alert hidden">
                        <i class="fas fa-exclamation-triangle"></i>
                         {{localize 'TOKENSAYS.warning.actor-not-found'}}
                        <span id="token-says-to-name-actor-warning"></span>
                    </p>
                    <p id="token-says-to-name-token-warning-container" class="notes alert hidden">
                        <i class="fas fa-exclamation-triangle"></i>
                         {{localize 'TOKENSAYS.warning.token-not-found'}}
                        <span id="token-says-to-name-token-warning"></span>
                    </p>
                    <p class="notes"></p>
                </div>
                <div class="flexrow check-three">
                    <input id="token-says-to-name-is-actor" type="checkbox" name="to.isActorName" {{checked say.to.isActorName}} />
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.isActorName.label'}}</span>
                    </label>
                    <input type="checkbox" name="to.requireVision" {{checked say.to.requireVision}} />
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.requireVision.label'}}</span>
                    </label>
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.maxDistance.label'}}</span>
                    </label>
                    <input type="range" name="to.distance" min="0" max="200" step="1" value="{{say.to.distance}}"/>
                    <span class="range-value">{{say.to.distance}}</span>
                    <p class="notes"></p>
                </div>
            </div>
            <div class="form-group">
                <h4>
                    <i class="fas {{#if isAudio}}fa-music{{/if}}{{#unless isAudio}}fa-th-list{{/unless}}"></i>&nbsp;
                    <span>{{localize 'TOKENSAYS.setting.say.source.label'}}</span>
               </h4>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.compendiumName.label'}}</span>
                    </label>
                    <div class="rule-value form-fields">
                        <select name="compendiumName" value="say.compendiumName">  
                            {{selectOptions compendiumList selected=say.compendiumName localize=true}}
                        </select>
                    </div>
                    <p class="notes {{#if isAudio}} hidden{{/if}}">{{localize 'TOKENSAYS.setting.say.compendiumName.description.rolltable'}}</p>
                    <p class="notes {{#unless isAudio}} hidden{{/unless}}">{{localize 'TOKENSAYS.setting.say.compendiumName.description.audio'}}</p>
                </div>
                <div class="flexrow">
                    <label>
                       {{#if isAudio}}<span>{{localize 'TOKENSAYS.setting.say.fileName.label.audio'}}</span>{{/if}}
                       {{#unless isAudio}}<span>{{localize 'TOKENSAYS.setting.say.fileName.label.rolltable'}}</span>{{/unless}}
                    </label>
                    <div class="rule-value form-fields">
                        <input type="text" name="fileName" value="{{say.fileName}}"/>
                    </div>
                    <p class="notes"></p>
                </div>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.fileTitle.label'}}</span>
                        <span class="toolt" title="{{localize 'TOKENSAYS.parameters'}}"><i class="fas fa-asterisk"></i></span>
                    </label>
                    <div class="rule-value form-fields">
                        <input type="text" name="fileTitle" value="{{say.fileTitle}}"/>
                    </div>
                    <p class="notes {{#if isAudio}} hidden{{/if}}">{{localize 'TOKENSAYS.setting.say.fileTitle.description.rolltable'}}</p>
                    <p class="notes {{#unless isAudio}} hidden{{/unless}}">{{localize 'TOKENSAYS.setting.say.fileTitle.description.audio'}}</p>
                </div>
                <div class="flexrow {{#unless isAudio}} hidden{{/unless}}">
                    <label>
                        <i class="volume-icon fas fa-volume-down"></i>
                    </label>
                    <div class="rule-value form-fields">
                        <input type="range" title="{{localize "TOKENSAYS.setting.say.volume.label"}}" name="volume" value="{{#unless say.volume}}0.5{{/unless}}{{#if say.volume}}{{say.volume}}{{/if}}" min="0.05" max="1.00" step="0.05"/>
                        <span class="range-value">{{#unless say.volume}}0.50{{/unless}}{{#if say.volume}}{{say.volume}}{{/if}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h4>
                    <i class="fas fa-play"></i>&nbsp;
                    <span>{{localize 'TOKENSAYS.setting.say.trigger.label'}}</span>
               </h4>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.delay.label'}}</span>
                    </label>
                    <div class="form-fields">
                        <input type="number" name="delay" value="{{say.delay}}" min="0" step="1"/>
                    </div>
                    <p class="notes"></p>
                </div>
                <div class="flexrow">
                    <label>
                        <span>{{localize 'TOKENSAYS.setting.say.likelihood.label'}}</span>
                    </label>
                    <div class="rule-value form-fields">
                        <input type="range" name="likelihood" value="{{say.likelihood}}" min="1" max="100" step="1"/>
                        <span class="range-value">{{say.likelihood}}</span>
                    </div>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.likelihood.description'}}</p>
                <div class="flexrow">
                    <div class="rule-value form-fields">
                        <input type="checkbox" name="isActive" {{checked say.isActive}} />
                        <label>
                            {{localize 'TOKENSAYS.setting.say.isActive.label'}}
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="flexrow suppress">
                    <div class="rule-value form-fields">
                        <input type="checkbox" name="suppressChatbubble" {{checked say.suppressChatbubble}} />
                        <label>
                            {{localize 'TOKENSAYS.setting.say.suppressChatbubble.label'}}
                        </label>
                    </div>
                    <div class="rule-value form-fields">
                        <input type="checkbox" name="suppressChatMessage" {{checked say.suppressChatMessage}} />
                        <label>
                            {{localize 'TOKENSAYS.setting.say.suppressChatMessage.label'}}
                        </label>
                    </div>
                    <div class="rule-value form-fields">
                        <input type="checkbox" name="suppressQuotes" {{checked say.suppressQuotes}} />
                        <label>
                            {{localize 'TOKENSAYS.setting.say.suppressQuotes.label'}}
                        </label>
                    </div>
                </div>
            </div>
        </div> 
    </section>
	<footer class="sheet-footer">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'TOKENSAYS.saveChanges'}}</button>
	</footer>
</form>