<form class="flexcol token-says-rule" autocomplete="off">
    <div class="hidden">
        <input type="text" value="{{say.id}}" name="id"/>
    </div>
    <div class="form-group">
        <label>
            {{localize 'TOKENSAYS.setting.say.label.label'}}
        </label>
        <div class="form-fields">
            <input type="text" name="label" value="{{say.label}}" required/>
        </div>
    </div>
    <h4>
        <i class="fas fa-user-alt"></i>&nbsp;
        <span>{{localize 'TOKENSAYS.setting.say.token.label'}}</span>
    </h4>
    <div class="form-group">
        <label>
            <span>{{localize 'TOKENSAYS.setting.say.name.label'}}</span>
            <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <input id="token-says-name-value" type="text" name="name" value="{{say.name}}" required/>
        </div>
        <p id="token-says-name-actor-warning-container" class="notes alert hidden">
            <i class="fas fa-exclamation-triangle"></i>
                {{localize 'TOKENSAYS.warning.actor-not-found'}}
            <span id="token-says-name-actor-warning"></span>
        </p>
        <p id="token-says-name-token-warning-container" class="notes alert hidden">
            <i class="fas fa-exclamation-triangle"></i>
                {{localize 'TOKENSAYS.warning.token-not-found'}}
            <span id="token-says-name-token-warning"></span>
        </p>
    </div>
    <div class="form-group">
        <label>
            {{localize 'TOKENSAYS.setting.say.isActorName.label'}}
            <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.isActorName.description'}} {{localize 'TOKENSAYS.separator'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <input id="token-says-name-is-actor" type="checkbox" name="isActorName" {{checked say.isActorName}} />
        </div>
    </div>
    <div class="form-group {{#unless languageOptions}}hidden{{/unless}}">
        <label>
            {{localize 'TOKENSAYS.setting.say.language.label'}}
        </label>
        <div class="form-fields">
            <select id="token-says-language-value" name="lang" value="say.lang">  
                <option value=""></option>
                {{selectOptions languageOptions selected=say.lang localize=false}}
            </select>
        </div>
    </div>
    <h4>
        <i class="fas fa-exclamation"></i>&nbsp;
        <span>{{localize 'TOKENSAYS.setting.say.actions.label'}}</span>
    </h4>
    <div class="form-group">
        <label>
            <span>{{localize 'TOKENSAYS.setting.say.documentType.label'}}</span>
        </label>
        <div class="rule-value form-fields">
            <select id="token-says-documenttype-value" name="documentType" value="say.documentType" required>  
                <option value=""></option>
                {{selectOptions documentTypeOptions selected=say.documentType localize=true}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>
            <span id="token-says-documentname-label">{{documentNameLabel}}</span>
            <span class="toolt" title="{{localize 'TOKENSAYS.separator'}} {{localize 'TOKENSAYS.setting.say.documentName.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div id="token-says-documentname" class="form-fields">
            {{{documentNameOptions}}}
        </div>
    </div>
    <div id="token-says-reacts" class="reacts {{#unless isReact}} hidden{{/unless}}">
        <h4>
            <i class="fas fa-reply"></i>&nbsp;
            {{localize 'TOKENSAYS.setting.say.reacts.label'}}
            <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.reacts.description'}}"><i class="fas fa-info-circle"></i></span>
        </h4>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.documentType.label'}}
            </label>
            <div class="form-fields">
                <select id="token-says-documenttype-reacts-value" name="to.documentType" value="say.to.documentType">  
                    <option value=""></option>
                    {{selectOptions documentTypeReactsOptions selected=say.to.documentType localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span id="token-says-documentname-reacts-label">{{responseDocumentNameLabel}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div id="token-says-documentname-reacts" class="form-fields">
                {{{documentNameReactsOptions}}}
            </div>
            <p id="token-says-rule-dup-name-warning" class="notes warning hidden">{{localize 'TOKENSAYS.setting.say.warning.dupNames.label'}}</p>
        </div>
        <div id="token-says-to-name" class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.name.label'}}
                <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input id="token-says-to-name-value" type="text" name="to.name" value="{{say.to.name}}" />
            </div>
            <p id="token-says-to-name-actor-warning-container" class="notes alert hidden">
                <i class="fas fa-exclamation-triangle"></i>
                    {{localize 'TOKENSAYS.warning.actor-not-found'}}
                <span id="token-says-to-name-actor-warning"></span>
            </p>
            <p id="token-says-to-name-token-warning-container" class="notes alert hidden">
                <i class="fas fa-exclamation-triangle"></i>
                    {{localize 'TOKENSAYS.warning.token-not-found'}}
                <span id="token-says-to-name-token-warning"></span>
            </p>
        </div>
        <div class="form-group">
             <label>
                {{localize 'TOKENSAYS.setting.say.isActorName.label'}}
            </label>
            <div class="form-fields">
                <input id="token-says-to-name-is-actor" type="checkbox" name="to.isActorName" {{checked say.to.isActorName}} /> 
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.requireVision.label'}}
            </label>
            <div class="form-fields">
                <input type="checkbox" name="to.requireVision" {{checked say.to.requireVision}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.maxDistance.label'}}
            </label>
            <div class="form-fields">
                <input type="range" name="to.distance" min="0" max="200" step="1" value="{{say.to.distance}}"/>
                <span class="range-value">{{say.to.distance}}</span>
            </div>
        </div>
    </div>
    <h4>
        <i class="fas {{#if isAudio}}fa-music{{/if}}{{#unless isAudio}}fa-th-list{{/unless}}"></i>&nbsp;
        <span>{{localize 'TOKENSAYS.setting.say.source.label'}}</span>
    </h4>
    <div class="form-group">
        <label>
            <span>{{localize 'TOKENSAYS.setting.say.compendiumName.label'}}</span>
            <span class="toolt" title="{{#if isAudio}}{{localize 'TOKENSAYS.setting.say.compendiumName.description.audio'}}{{/if}}{{#unless isAudio}}{{localize 'TOKENSAYS.setting.say.compendiumName.description.rolltable'}}{{/unless}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="rule-value form-fields">
            <select name="compendiumName" value="say.compendiumName">  
                {{selectOptions compendiumList selected=say.compendiumName localize=true}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{#if isAudio}}<span>{{localize 'TOKENSAYS.setting.say.fileName.label.audio'}}</span>{{/if}}
            {{#unless isAudio}}<span>{{localize 'TOKENSAYS.setting.say.fileName.label.rolltable'}}</span>{{/unless}}
        </label>
        <div class="form-fields">
            <input type="text" name="fileName" value="{{say.fileName}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>
            <span>{{localize 'TOKENSAYS.setting.say.fileTitle.label'}}</span>
            <span class="toolt" title="{{#if isAudio}}{{localize 'TOKENSAYS.setting.say.fileTitle.description.audio'}}{{/if}}{{#unless isAudio}}{{localize 'TOKENSAYS.setting.say.fileTitle.description.rolltable'}}{{localize 'TOKENSAYS.parameters'}}{{/unless}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            {{#if isAudio}}{{filePicker target="fileTitle" type="audio"}}{{/if}}
            <input type="text" name="fileTitle" value="{{say.fileTitle}}"/>
        </div>
    </div>
    <div class="form-group {{#unless isAudio}} hidden{{/unless}}">
        <label>
            <i class="volume-icon fas fa-volume-down"></i>
        </label>
        <div class="form-fields">
            <input type="range" title="{{localize "TOKENSAYS.setting.say.volume.label"}}" name="volume" value="{{#unless say.volume}}0.5{{/unless}}{{#if say.volume}}{{say.volume}}{{/if}}" min="0.05" max="1.00" step="0.05"/>
            <span class="range-value">{{#unless say.volume}}0.50{{/unless}}{{#if say.volume}}{{say.volume}}{{/if}}</span>
        </div>
    </div>
    <div {{#if isAudio}} id="token-says-cap"{{/if}} class="form-group {{#unless isMove}} hidden{{/unless}}">
        <label>
            <span>{{localize 'TOKENSAYS.setting.say.cap.label'}}</span>
            <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.cap.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <input type="checkbox" name="cap" {{checked say.cap}} />
        </div>
    </div>
    <h4>
        <i class="fas fa-play"></i>&nbsp;
        <span>{{localize 'TOKENSAYS.setting.say.trigger.label'}}</span>
    </h4>
    <div class="form-group">
        <label>
            <span>{{localize 'TOKENSAYS.setting.say.delay.label'}}</span>
        </label>
        <div class="form-fields">
            <input type="number" name="delay" value="{{say.delay}}" min="0" step="1"/>
        </div>
    </div>
    <div class="form-group">
        <label>
            <span>{{localize 'TOKENSAYS.setting.say.likelihood.label'}}</span>
            <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.likelihood.description'}}"><i class="fas fa-info-circle"></i></span>
        </label>
        <div class="form-fields">
            <input type="range" name="likelihood" value="{{say.likelihood}}" min="1" max="100" step="1"/>
            <span class="range-value">{{say.likelihood}}</span>
        </div>
    </div>
    <div class="form-group">
        <label>
            {{localize 'TOKENSAYS.setting.say.isActive.label'}}
        </label>
        <div class="form-fields">
            <input type="checkbox" name="isActive" {{checked say.isActive}} />
        </div>
    </div>
    <h4>
        <i class="fas fa-comment-slash"></i>&nbsp;
        <span>{{localize 'TOKENSAYS.setting.say.suppress.label'}}</span>
    </h4>
    <div class="suppress">
        <div>
            <input type="checkbox" name="suppressChatbubble" {{checked say.suppressChatbubble}} />
            <label>
                {{localize 'TOKENSAYS.setting.say.suppressChatbubble.label'}}
            </label>
        </div>
        <div>
            <input type="checkbox" name="suppressChatMessage" {{checked say.suppressChatMessage}} />
            <label>
                {{localize 'TOKENSAYS.setting.say.suppressChatMessage.label'}}
            </label>
        </div>
        <div>
            <input type="checkbox" name="suppressQuotes" {{checked say.suppressQuotes}} />
            <label>
                {{localize 'TOKENSAYS.setting.say.suppressQuotes.label'}}
            </label>
        </div>
    </div>
	<footer class="sheet-footer">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'TOKENSAYS.saveChanges'}}</button>
	</footer>
</form>