<form autocomplete="off">
    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="basics"><i class="fas fa-comment"></i>&nbsp;{{localize 'TOKENSAYS.setting.say.basic.label'}}</a>
        <a class="item {{#unless isReact}} hidden{{/unless}}" data-tab="reacts"><i class="fas fa-reply"></i></i>&nbsp;{{localize 'TOKENSAYS.setting.say.reacts.label'}}</a>
        <a class="item" data-tab="chat"><i class="fas fa-th-list"></i></i>&nbsp;{{localize 'TOKENSAYS.setting.say.chat.label'}}</a>
        <a class="item" data-tab="audio"><i class="fas fa-music"></i></i>&nbsp;{{localize 'TOKENSAYS.setting.say.audio.label'}}</a>
        <a class="item" data-tab="trigger"><i class="fas fa-play"></i>&nbsp;{{localize 'TOKENSAYS.setting.say.trigger.label'}}</a>
    </nav>
    <div class="tab active" data-tab="basics">
        <div class="hidden">
            <input type="text" value="{{say.id}}" name="id"/>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.label.label'}}
            </label>
            <div class="form-fields">
                <input type="text" name="label" value="{{say.label}}" required/>
            </div>
        </div>
        <h4>
            <i class="fas fa-user-alt"></i>&nbsp;
            <span>{{localize 'TOKENSAYS.setting.say.token.label'}}</span>
        </h4>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.name.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input id="token-says-name-value" type="text" name="name" value="{{say.name}}"/>
            </div>
            <p id="token-says-name-actor-warning-container" class="notes alert hidden">
                <i class="fas fa-exclamation-triangle"></i>
                    {{localize 'TOKENSAYS.warning.actor-not-found'}}
                <span id="token-says-name-actor-warning"></span>
            </p>
            <p id="token-says-name-token-warning-container" class="notes alert hidden">
                <i class="fas fa-exclamation-triangle"></i>
                    {{localize 'TOKENSAYS.warning.token-not-found'}}
                <span id="token-says-name-token-warning"></span>
            </p>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.isWildcard.label'}}
            </label>
            <div class="form-fields">
                <input id="token-says-name-is-wildcard" type="checkbox" name="isWildcard" {{checked say.isWildcard}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.isActorName.label'}}
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.isActorName.description'}} {{localize 'TOKENSAYS.separator'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input id="token-says-name-is-actor" type="checkbox" name="isActorName" {{checked say.isActorName}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.reverse.label'}}
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.reverse.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="reverse" {{checked say.reverse}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.actorType.label'}}
            </label>
            <div class="form-fields">
                <select name="actorType" value="say.actorType">  
                    <option value=""></option>
                    {{selectOptions actorTypeOps selected=say.actorType localize=false}}
                </select>
            </div>
        </div>
        <div class="form-group {{#unless languageOptions}}hidden{{/unless}}">
            <label>
                {{localize 'TOKENSAYS.setting.say.language.label'}}
            </label>
            <div class="form-fields">
                <select id="token-says-language-value" name="lang" value="say.lang">  
                    <option value=""></option>
                    {{selectOptions languageOptions selected=say.lang localize=false}}
                </select>
            </div>
        </div>
        <h4>
            <i class="fas fa-exclamation"></i>&nbsp;
            <span>{{localize 'TOKENSAYS.setting.say.actions.label'}}</span>
        </h4>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.documentType.label'}}</span>
            </label>
            <div class="rule-value form-fields">
                <select id="token-says-documenttype-value" name="documentType" value="say.documentType" required>  
                    <option value=""></option>
                    {{selectOptions documentTypeOptions selected=say.documentType localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span id="token-says-documentname-label">{{documentNameLabel}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.separator'}} {{localize 'TOKENSAYS.setting.say.documentName.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div id="token-says-documentname" class="form-fields">
                {{{documentNameOptions}}}
            </div>
        </div>
        <div  id="token-says-documentname-is-wildcard-formgroup" class="form-group {{#if documentNameWildCardSuppress}}hidden{{/if}}">
            <label>
                {{localize 'TOKENSAYS.setting.say.isWildcard.label'}}
            </label>
            <div class="form-fields">
                <input id="token-says-documentname-is-wildcard" type="checkbox" name="dnwc" {{checked say.dnwc}} />
            </div>
        </div>        
    </div>
    <div class="tab" data-tab="chat">
        <div id="token-says-compendium-chat-label" class="form-group {{#if hasChatFileTitle}} hidden{{/if}}">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.compendiumName.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.compendiumName.description.rolltable'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="rule-value form-fields">
                <select name="{{#if isAudio}}paired.{{/if}}compendiumName" value="say.{{#if isAudio}}paired.{{/if}}compendiumName">  
                    {{#if isAudio}}{{selectOptions compendiumListRollTable selected=say.paired.compendiumName localize=true}}{{/if}}
                    {{#unless isAudio}}{{selectOptions compendiumListRollTable selected=say.compendiumName localize=true}}{{/unless}}
                </select>
            </div>
        </div>
        <div id="token-says-fileName-chat-label" class="form-group {{#if hasChatFileTitle}} hidden{{/if}}">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.fileName.label.rolltable'}}</span>
            </label>
            <div class="form-fields">
                <input type="text" name="{{#if isAudio}}paired.{{/if}}fileName" value="{{#unless isAudio}}{{say.fileName}}{{/unless}}{{#if isAudio}}{{say.paired.fileName}}{{/if}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.fileTitle.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.fileTitle.description.rolltable'}}{{localize 'TOKENSAYS.parameters'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input id="token-says-fileTitle-chat-value" type="text" name="{{#if isAudio}}paired.{{/if}}fileTitle" value="{{#unless isAudio}}{{say.fileTitle}}{{/unless}}{{#if isAudio}}{{say.paired.fileTitle}}{{/if}}"/>
            </div>
        </div>
        <div id="token-says-play-type-chat-label"  class="form-group {{#if hasChatFileTitle}} hidden{{/if}}">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.play-type.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.play-type.description.rolltable'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="{{#if isAudio}}paired.{{/if}}play" value="say.{{#if isAudio}}paired.{{/if}}play">  
                    {{#unless isAudio}}{{selectOptions rollTablePlayOptions selected=say.play localize=true}}{{/unless}}
                    {{#if isAudio}}{{selectOptions rollTablePlayOptions selected=say.paired.play localize=true}}{{/if}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.whisper.label'}}</span>
            </label>
            <div class="form-fields">
                <select name="whisper" value="say.whisper">  
                    {{selectOptions whisperOps selected=say.whisper localize=true}}
                </select>
            </div>
        </div>
        <h4>
            <i class="fas fa-comment-slash"></i>&nbsp;
            <span>{{localize 'TOKENSAYS.setting.say.suppress.label'}}</span>
        </h4>
        <div class="suppress">
            <div>
                <input type="checkbox" name="suppressChatbubble" {{checked say.suppressChatbubble}} />
                <label>
                    {{localize 'TOKENSAYS.setting.say.suppressChatbubble.label'}}
                </label>
            </div>
            <div>
                <input type="checkbox" name="suppressChatMessage" {{checked say.suppressChatMessage}} />
                <label>
                    {{localize 'TOKENSAYS.setting.say.suppressChatMessage.label'}}
                </label>
            </div>
            <div>
                <input type="checkbox" name="suppressQuotes" {{checked say.suppressQuotes}} />
                <label>
                    {{localize 'TOKENSAYS.setting.say.suppressQuotes.label'}}
                </label>
            </div>
            <div>
                <input type="checkbox" name="suppressPan" {{checked say.suppressPan}} />
                <label>
                    {{localize 'TOKENSAYS.setting.say.suppressPan.label'}}
                </label>
            </div>
        </div>
    </div>
    <div class="tab" data-tab="audio">
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.compendiumName.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.compendiumName.description.audio'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="rule-value form-fields">
                <select name="{{#unless isAudio}}paired.{{/unless}}compendiumName" value="say.{{#unless isAudio}}paired.{{/unless}}compendiumName">  
                    {{#if isAudio}}{{selectOptions compendiumListAudio selected=say.compendiumName localize=true}}{{/if}}
                    {{#unless isAudio}}{{selectOptions compendiumListAudio selected=say.paired.compendiumName localize=true}}{{/unless}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.fileName.label.audio'}}</span>
            </label>
            <div class="form-fields">
                <input type="text" name="{{#unless isAudio}}paired.{{/unless}}fileName" value="{{#unless isAudio}}{{say.paired.fileName}}{{/unless}}{{#if isAudio}}{{say.fileName}}{{/if}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.fileTitle.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.fileTitle.description.audio'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                {{#if isAudio}}{{filePicker target="fileTitle" type="audio"}}{{/if}}
                {{#unless isAudio}}{{filePicker target="paired.fileTitle" type="audio"}}{{/unless}}
                <input id="token-says-fileTitle-audio-value" type="text" name="{{#unless isAudio}}paired.{{/unless}}fileTitle" value="{{#unless isAudio}}{{say.paired.fileTitle}}{{/unless}}{{#if isAudio}}{{say.fileTitle}}{{/if}}"/>
            </div>
        </div>
        <div id="token-says-play-type-audio-label" class="form-group {{#if hasAudioFileTitle}} hidden{{/if}}">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.play-type.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.play-type.description.audio'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="{{#unless isAudio}}paired.{{/unless}}play" value="say.{{#unless isAudio}}paired.{{/unless}}play">  
                    {{#if isAudio}}{{selectOptions playOptions selected=say.play localize=true}}{{/if}}
                    {{#unless isAudio}}{{selectOptions playOptions selected=say.paired.play localize=true}}{{/unless}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                <i class="volume-icon fas fa-volume-down"></i>
            </label>
            <div class="form-fields">
                <input type="range" title="{{localize "TOKENSAYS.setting.say.volume.label"}}" name="volume" value="{{#unless say.volume}}0.5{{/unless}}{{#if say.volume}}{{say.volume}}{{/if}}" min="0.05" max="1.00" step="0.05"/>
                <span class="range-value">{{#unless say.volume}}0.50{{/unless}}{{#if say.volume}}{{say.volume}}{{/if}}</span>
            </div>
        </div>
        <div id="token-says-cap" class="{{#unless isMove}} hidden{{/unless}}">
            <hr>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.cap.label'}}</span>
                    <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.cap.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="checkbox" name="cap" {{checked say.cap}} />
                </div>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.cap.min.label'}}</span>
                    <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.cap.min.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                    <input type="number" name="capOptions.min" value="{{#unless say.capOptions.min}}0{{/unless}}{{#if say.capOptions.min}}{{say.capOptions.min}}{{/if}}" min="0" step="1" placeholder="{{localize 'TOKENSAYS.ms'}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.cap.fileName.label'}}</span>
                    <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.cap.fileName.description'}}"><i class="fas fa-info-circle"></i></span>
                </label>
                <div class="form-fields">
                     {{filePicker target="capOptions.fileName" type="audio"}}
                    <input type="text" name="capOptions.fileName" value="{{say.capOptions.fileName}}"/>
                </div>
            </div>
        </div>
    </div>
    <div id="token-says-reacts" data-tab="reacts" class="tab reacts {{#unless isReact}} hidden{{/unless}}">
        <h4>
            <i class="fas fa-reply"></i>&nbsp;
            {{localize 'TOKENSAYS.setting.say.reacts.label'}}
            <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.reacts.description'}}"><i class="fas fa-info-circle"></i></span>
        </h4>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.documentType.label'}}
            </label>
            <div class="form-fields">
                <select id="token-says-documenttype-reacts-value" name="to.documentType" value="say.to.documentType">  
                    <option value=""></option>
                    {{selectOptions documentTypeReactsOptions selected=say.to.documentType localize=true}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span id="token-says-documentname-reacts-label">{{responseDocumentNameLabel}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div id="token-says-documentname-reacts" class="form-fields">
                {{{documentNameReactsOptions}}}
            </div>
            <p id="token-says-rule-dup-name-warning" class="notes alert hidden">{{localize 'TOKENSAYS.setting.say.warning.dupNames.label'}}</p>
        </div>
        <div id="token-says-documentname-reacts-is-wildcard-formgroup" class="form-group {{#if documentNameReactsWildCardSuppress}}hidden{{/if}}">
            <label>
                {{localize 'TOKENSAYS.setting.say.isWildcard.label'}}
            </label>
            <div class="form-fields">
                <input id="token-says-documentname-reacts-is-wildcard" type="checkbox" name="to.dnwc" {{checked say.to.dnwc}} />
            </div>
        </div>  
        <hr>
        <div id="token-says-to-name" class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.name.label'}}
                <span class="toolt" title="{{localize 'TOKENSAYS.separator'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input id="token-says-to-name-value" type="text" name="to.name" value="{{say.to.name}}" />
            </div>
            <p id="token-says-to-name-actor-warning-container" class="notes alert hidden">
                <i class="fas fa-exclamation-triangle"></i>
                    {{localize 'TOKENSAYS.warning.actor-not-found'}}
                <span id="token-says-to-name-actor-warning"></span>
            </p>
            <p id="token-says-to-name-token-warning-container" class="notes alert hidden">
                <i class="fas fa-exclamation-triangle"></i>
                    {{localize 'TOKENSAYS.warning.token-not-found'}}
                <span id="token-says-to-name-token-warning"></span>
            </p>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.isWildcard.label'}}
            </label>
            <div class="form-fields">
                <input id="token-says-to-name-is-wildcard" type="checkbox" name="to.isWildcard" {{checked say.to.isWildcard}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.isActorName.label'}}
            </label>
            <div class="form-fields">
                <input id="token-says-to-name-is-actor" type="checkbox" name="to.isActorName" {{checked say.to.isActorName}} /> 
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.reverse.label'}}
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.reverse.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="checkbox" name="to.reverse" {{checked say.to.reverse}} />
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.requireVision.label'}}
            </label>
            <div class="form-fields">
                <input type="checkbox" name="to.requireVision" {{checked say.to.requireVision}} />
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.maxDistance.label'}}
            </label>
            <div class="form-fields">
                <input type="number" name="to.distance" value="{{#unless say.to.distance}}0{{/unless}}{{#if say.to.distance}}{{say.to.distance}}{{/if}}" min="0" step="1" placeholder="{{localize 'TOKENSAYS.gridUnits'}}" required/>
            </div>
        </div>
    </div>
    <div class="tab" data-tab="trigger">
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.delay.label'}}</span>
            </label>
            <div class="form-fields">
                <input type="number" name="delay" value="{{say.delay}}" min="0" step="1" placeholder="{{localize 'TOKENSAYS.ms'}}"/>
            </div>
        </div>   
        <hr>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.condition.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.separator'}} {{localize 'TOKENSAYS.setting.say.condition.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="text" name="condition" value="{{say.condition}}" />
            </div>
        </div>  
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.isWildcard.label'}}
            </label>
            <div class="form-fields">
                <input id="token-says-condition-is-wildcard" type="checkbox" name="cwc" {{checked say.cwc}} />
            </div>
        </div>    
        <hr>  
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.likelihood.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.likelihood.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="range" name="likelihood" value="{{say.likelihood}}" min="1" max="100" step="1"/>
                <span class="range-value">{{say.likelihood}}</span>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.priority.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.priority.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="number" name="priority" value="{{say.priority}}" min="0" step="1" required/>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.limit.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.limit.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <input type="number" name="limit" value="{{say.limit}}" min="0" step="1" placeholder="{{localize 'TOKENSAYS.count'}}" required/>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{localize 'TOKENSAYS.setting.say.macro.label'}}</span>
                <span class="toolt" title="{{localize 'TOKENSAYS.setting.say.macro.description'}}"><i class="fas fa-info-circle"></i></span>
            </label>
            <div class="form-fields">
                <select name="macroId" value="{{say.macroId}}"> 
                    <option value=""></option>  
                    {{selectOptions macroOps selected=say.macroId localize=false}}
                </select>     
            </div>
        </div>
        <div class="form-group">
            <label>
                {{localize 'TOKENSAYS.setting.say.isActive.label'}}
            </label>
            <div class="form-fields">
                <input type="checkbox" name="isActive" {{checked say.isActive}} />
            </div>
        </div>
    </div>
	<footer class="sheet-footer">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'TOKENSAYS.saveChanges'}}</button>
	</footer>
</form>