<form class="flexcol token-says-rule" autocomplete="off">
    <section id="token-says-rule">
        <div class="token-says-rule">
            <div class="hidden">
                <input type="text" value="{{say.id}}" name="id"/>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.label.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="text" name="label" value="{{say.label}}"/>
                </div>
                <p class="notes"></p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.name.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="text" name="name" value="{{say.name}}" />
                </div>
                <p class="notes"></p>
            </div>
            <div class="form-group flexrow">
                <div class="rule-value">
                    <input type="checkbox" name="isActorName" {{checked say.isActorName}} />
                </div>
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.isActorName.label'}}</span>
                </label>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.isActorName.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.documentType.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <select id="token-says-documenttype-value" name="documentType" value="say.documentType">  
                        <option value=""></option>
                        {{selectOptions documentTypeOptions selected=say.documentType localize=true}}
                    </select>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.documentType.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.documentName.label'}}</span>
                </label>
                <div id="token-says-documentname" class="rule-value form-fields">
                    {{{documentNameOptions}}}
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.documentName.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.compendiumName.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <select name="compendiumName" value="say.compendiumName">  
                        <option value=""></option>
                        {{selectOptions compendiumList selected=say.compendiumName localize=true}}
                    </select>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.compendiumName.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.fileName.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="text" name="fileName" value="{{say.fileName}}"/>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.fileName.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.fileTitle.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="text" name="fileTitle" value="{{say.fileTitle}}"/>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.fileTitle.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.likelihood.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="range" name="likelihood" value="{{say.likelihood}}" min="1" max="100" step="1"/>
                    <span class="range-value">{{say.likelihood}}</span>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.say.likelihood.description'}}</p>
            </div>
            <div class="form-group flexrow">
                <div class="rule-value">
                    <input type="checkbox" name="isActive" {{checked say.isActive}} />
                </div>
                <label>
                    <span>{{localize 'TOKENSAYS.setting.say.isActive.label'}}</span>
                </label>
                <p class="notes"></p>
            </div>
        </div> 
    </section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'TOKENSAYS.saveChanges'}}</button>
	</footer>
</form>