<form class="token-says" autocomplete="off">
    <div id="token-says-primary-controls">
        <div class="token-says-search">
            <div id="token-says-search-icon"><i class="fas fa-search"></i></div>
            <input id="token-says-search-input" type="text" name="search" value="{{search}}" placeholder="{{localize 'TOKENSAYS.setting.search.placeholder'}}" spellcheck="false" autocomplete="off" />
            <button id="token-says-search-clear" class="hidden" title="{{localize 'TOKENSAYS.setting.search.clear'}}"><i class="fas fa-times"></i></button>
        </div>
        <div class="token-says-json-export">
            <button id="token-says-export-config" title="{{localize "TOKENSAYS.setting.export.title"}}"><i class="fas fa-file-export fa-fw"></i></button>  
        </div>
        <div class="token-says-json-import">
            <button id="token-says-import-config" title="{{localize "TOKENSAYS.setting.import.title"}}"><i class="fas fa-file-import fa-fw"></i></button>  
        </div>
    </div>
    <div class="rules-header flexrow">
        <div class="rule-name">
            <div class="label">{{localize 'TOKENSAYS.setting.subheader.name'}}</div>
            <div class="name">{{localize 'TOKENSAYS.setting.say.name.label'}}</div>
        </div>
        <div></div>
        <div class="rule-active">{{localize 'TOKENSAYS.setting.subheader.isActive'}}</div>
        <div class="rule-controls">
            <a class="rule-control rolltable-rule-create" title="{{localize 'TOKENSAYS.addRull'}}" data-type="rule" data-action="create">
                <i class="fas fa-plus"></i> {{localize 'TOKENSAYS.add'}}
            </a>
        </div>
    </div>
    <ol class="rules-list">
        {{#each says}}
        <li class="rule flexrow" data-id="{{id}}" data-container="rules" draggable="true">
            <div class="rule-name">
                <div class="label ts-search-name">{{label}}</div>
                <div class="name ts-search-name">{{#if this.reverse}}not: {{/if}}{{name}}</div>
            </div>
            <div>
                {{#if this.hasAudio}}<i class="fas fa-music"></i>{{/if}}
                {{#if this.hasChat}}<i class="fas fa-th-list"></i>{{/if}}
            </div>
            <div class="rule-active">
                <input type="checkbox" name="{{id}}.isActive" class="rule-active" data-dtype="Boolean" {{checked this.isActive}} />
            </div>
            <div class="rule-controls">
                <a class="rule-control rule-edit" title="{{localize 'TOKENSAYS.editRule'}}" data-action="edit"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;
                <a class="rule-control rule-copy" title="{{localize 'TOKENSAYS.copyRule'}}" data-action="copy"><i class="fas fa-copy"></i></a>&nbsp;&nbsp;
                <a class="rule-control rule-delete" title="{{localize 'TOKENSAYS.deleteRule'}}" data-action="delete"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</form>