<form class="flexcol token-says-rule" autocomplete="off">
    {{#each tokenSaysRule}}
    <section id="token-says-rule">
        <div class="token-says-rule">
            <div class="hidden">
                <input type="text" value="{{this.id}}" name="id" data-dtype="String"/>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.label.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="text" name="label" value="{{this.label}}" data-dtype="String"/>
                </div>
                <p class="notes"></p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.name.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="text" name="name" value="{{this.name}}"  data-dtype="String"/>
                </div>
                <p class="notes"></p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.isActorName.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="checkbox" name="isActorName" data-dtype="Boolean" {{checked this.isActorName}} />
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.rule.isActorName.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.documentType.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <select id="token-says-documenttype-value" name="documentType" value="this.documentType">  
                        <option value=""></option>
                        {{selectOptions this.documentTypeOptions selected=this.documentType localize=true}}
                    </select>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.rule.documentType.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.documentName.label'}}</span>
                </label>
                <div id="token-says-documentname" class="rule-value form-fields">
                    {{{this.documentNameOptions}}}
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.rule.documentName.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.compendiumName.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <select name="compendiumName" value="this.compendiumName">  
                        <option value=""></option>
                        {{selectOptions this.compendiumList selected=this.compendiumName localize=true}}
                    </select>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.rule.compendiumName.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.fileName.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="text" name="fileName" value="{{this.fileName}}" data-dtype="String"/>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.rule.fileName.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.fileTitle.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="text" name="fileTitle" value="{{this.fileTitle}}" data-dtype="String"/>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.rule.fileTitle.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.likelihood.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="range" name="likelihood" value="{{this.likelihood}}" data-dtype="Number" min="1" max="100" step="1"/>
                    <span class="range-value">{{this.likelihood}}</span>
                </div>
                <p class="notes">{{localize 'TOKENSAYS.setting.rule.likelihood.description'}}</p>
            </div>
            <div class="form-group">
                <label>
                    <span>{{localize 'TOKENSAYS.setting.rule.isActive.label'}}</span>
                </label>
                <div class="rule-value form-fields">
                    <input type="checkbox" name="isActive" data-dtype="Boolean" {{checked this.isActive}} />
                </div>
                <p class="notes"></p>
            </div>
        </div> 
    </section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit"><i class='far fa-save'></i>{{localize 'TOKENSAYS.saveChanges'}}</button>
	</footer>           
    {{/each}}
</form>