<form class="token-says" autocomplete="off">
    <div id="token-says-primary-controls">
        <!--search-->
        <div class="token-says-search">
            <div id="token-says-search-icon"><i class="fas fa-search"></i></div>
            <input id="token-says-search-input" type="text" name="search" value="{{tokenSaysCurrentSearch}}" placeholder="{{localize 'TOKENSAYS.setting.search.placeholder'}}" spellcheck="false" autocomplete="off" />
            <button id="token-says-search-clear" class="hidden" title="{{localize 'TOKENSAYS.setting.search.clear'}}"><i class="fas fa-times"></i></button>
        </div>
        <div class="token-says-json-export">
            <button id="token-says-export-config" title="{{localize "TOKENSAYS.setting.export.title"}}"><i class="fas fa-file-export fa-fw"></i></button>  
        </div>
        <div class="token-says-json-import">
            <button id="token-says-import-config" title="{{localize "TOKENSAYS.setting.import.title"}}"><i class="fas fa-file-import fa-fw"></i></button>  
        </div>
    </div>

    <!-- Navigation Tabs -->
    <nav class="sheet-tabs tabs" data-group="primary-tabs">
        <a class="item active" data-tab="token-says-roll-table"><i class="fas fa-th-list"></i>&nbsp;{{localize 'TOKENSAYS.setting.rollableTableRules'}}</a>
        <a class="item" data-tab="token-says-audio"><i class="fas fa-music"></i>&nbsp;{{localize 'TOKENSAYS.setting.audioFileRules'}}</a>
    </nav>
    <!-- Main Content Section -->
    <section class="content">
        <div class="tab" data-tab="token-says-roll-table" data-group="primary-tabs">
            <div class="rules-list">
                <ol class="rules-list">
                    <li class="rules-header flexrow">
                        <div class="rule-name">{{localize 'TOKENSAYS.setting.subheader.rolltablename'}}</div>

                        <div class="rule-name rule-active">
                            {{localize 'TOKENSAYS.setting.subheader.isActive'}}
                        </div>
    
                        <div class="rule-controls">
                            <a class="rule-control rolltable-rule-create" title="{{localize 'TOKENSAYS.addRull'}}" data-type="rule" data-action="create-rolltable">
                                <i class="fas fa-plus"></i> {{localize 'TOKENSAYS.add'}}
                            </a>
                        </div>
                    </li>
    
                    <ol class="rule-list">
                        {{#each tokenSaysRollTable}}
                        <li class="rule flexrow " data-id="{{id}}" data-container="rules" draggable="true">
                            <div class="rule-name">
                                {{label}}
                            </div>
    
                            <div class="rule-active">
                                <input type="checkbox" name="{{id}}.isActive" class="rule-active" data-dtype="Boolean" {{checked this.isActive}} />
                            </div>
    
                            <div class="rule-controls">
                                <a class="rule-control rule-edit" title="{{localize 'TOKENSAYS.editRule'}}" data-action="edit"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;
                                <a class="rule-control rule-delete" title="{{localize 'TOKENSAYS.deleteRule'}}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </ol>
            </div>
        </div>
        <div class="tab" data-tab="token-says-audio" data-group="primary-tabs">
            <div class="rules-list">
                <ol class="rules-list">
                    <li class="rules-header flexrow">
                        <div class="rule-name">{{localize 'TOKENSAYS.setting.subheader.audioname'}}</div>
    
                        <div class="rule-name rule-active">
                            {{localize 'TOKENSAYS.setting.subheader.isActive'}}
                        </div>
    
                        <div class="rule-controls">
                            <a class="rule-control audio-rule-create" title="{{localize 'TOKENSAYS.addRull'}}" data-type="rule" data-action="create-audio">
                                <i class="fas fa-plus"></i> {{localize 'TOKENSAYS.add'}}
                            </a>
                        </div>
                    </li>
    
                    <ol class="rule-list">
                        {{#each tokenSaysAudio}}
                        <li class="rule flexrow " data-id="{{id}}" data-container="rules" draggable="true">
                            <div class="rule-name">
                                {{label}}
                            </div>
    
                            <div class="rule-active">
                                <input type="checkbox" name="{{id}}.isActive" class="rule-active" data-dtype="Boolean" {{checked this.isActive}} />
                            </div>
    
                            <div class="rule-controls">
                                <a class="rule-control rule-edit" title="{{localize 'TOKENSAYS.editRule'}}" data-action="edit"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;
                                <a class="rule-control rule-delete" title="{{localize 'TOKENSAYS.deleteRule'}}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </ol>
            </div>
        </div>
    </section>
</form>